<div class="row centrar">
    <div class="col-4">
        <div class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title ">BIENVENIDO</h4>
            </div>
            <div class="card-body row">
                <div class="col-9">
                    <input [(ngModel)]="username" class="form-control form-control-lg" type="text" placeholder="Usuario">
                    <input (keydown.enter)="onKeydown($event)" [(ngModel)]="password" class="form-control form-control-lg" type="password" placeholder="Contraseña">
                </div>
                <div class="col">
                    <button (click)="login()" mat-raised-button class="btn btn-primary pull-right ">Iniciar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>